venv2/*
credentials/*
/data/*.csv
/optimization/NN_capstone1/data/*.csv
/bots/candlebot/configs/*
bots/candlebot/data/agg_df_5.csv
bots/candlebot/data/BTC-USD2022-01-10_2022-01-18.csv
bots/candlebot/data/test_df.csv
bots/candlebot/binance_log.log
myfuns/__pycache__/myfuns.cpython-39.pyc
optimization/__pycache__/__init__.cpython-39.pyc
optimization/NN_capstone1/__pycache__/NNfuns.cpython-38.pyc
optimization/NN_capstone1/__pycache__/NNfuns.cpython-39.pyc
venv2/Lib/site-packages/regex/_regex_core.py
venv2/Lib/site-packages/regex/_regex.cp39-win_amd64.pyd
venv2/Lib/site-packages/regex/regex.py
venv2/Lib/site-packages/regex/test_regex.py
venv2/Lib/site-packages/regex/__pycache__/__init__.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/_regex_core.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/regex.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/test_regex.cpython-39.pyc
venv2/Lib/site-packages/regex-2022.9.13.dist-info/INSTALLER
venv2/Lib/site-packages/regex-2022.9.13.dist-info/LICENSE.txt
venv2/Lib/site-packages/regex-2022.9.13.dist-info/METADATA
venv2/Lib/site-packages/regex-2022.9.13.dist-info/RECORD
venv2/Lib/site-packages/regex-2022.9.13.dist-info/REQUESTED
venv2/Lib/site-packages/regex-2022.9.13.dist-info/top_level.txt
venv2/Lib/site-packages/regex-2022.9.13.dist-info/WHEEL
venv2/Lib/site-packages/regex/_regex_core.py
venv2/Lib/site-packages/regex/_regex.cp39-win_amd64.pyd
venv2/Lib/site-packages/regex/regex.py
venv2/Lib/site-packages/regex/test_regex.py
venv2/Lib/site-packages/regex/__pycache__/__init__.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/_regex_core.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/regex.cpython-39.pyc
venv2/Lib/site-packages/regex/__pycache__/test_regex.cpython-39.pyc
venv2/Lib/site-packages/regex-2022.9.13.dist-info/INSTALLER
venv2/Lib/site-packages/regex-2022.9.13.dist-info/LICENSE.txt
venv2/Lib/site-packages/regex-2022.9.13.dist-info/METADATA
venv2/Lib/site-packages/regex-2022.9.13.dist-info/RECORD
venv2/Lib/site-packages/regex-2022.9.13.dist-info/REQUESTED
venv2/Lib/site-packages/regex-2022.9.13.dist-info/top_level.txt
venv2/Lib/site-packages/regex-2022.9.13.dist-info/WHEEL
